@import "../../styles.scss";

.container {
  padding: 40px 20px;
  color: $textColor;

  label{
    margin-bottom: 5px;
  }
  .form-group{
    textarea {
      max-height: 200px;  
      resize: vertical;  
    }
  }

  .firstRow{
    display: flex;
    justify-content: space-between; 

    .uploaded-image-container {
      width: 50mm;   
      height: 50mm;  
      overflow: hidden;   
    }
    
    .uploaded-image-container img {
      width: 100%; 
      height: 100%;  
      object-fit: cover; 
    }
    .active{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .formTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btnSave {
    border-radius: 25px;
    padding: 10px 50px;
    background: $darkGreen;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  .btnCvList {
    padding: 10px 35px;
    background: $lightGreen;
    color: $darkGreen;
    font-size: 18px;
    font-weight: 500;
  }
  .btnPdf{ 
    padding: 10px 35px;
    background:  $darkGreen;
    color:$lightGreen;
    font-size: 16px;
    font-weight: 500;
  }
}
