<div class="container">
  <h2 class="text-center">CV Listesi</h2>
  <div class="title">
    <input
      type="text"
      (input)="search($any($event.target).value)"
      placeholder="Arama.."
    />
    <button type="button" class="btn newCV" routerLink="/cv" routerLinkActive="active">
      <i class="fa-regular fa-plus me-2"></i> Yeni
    </button>
  </div>
  <ul *ngIf="filteredCVs.length > 0; else noCVs">
    <li *ngFor="let cv of filteredCVs; let i = index" class="card mb-3">
      <div class="list-card">
        <h5>{{ cv.name }} {{ cv.surname }}</h5>
        <div class="info col-7">
          <p class="card-text">{{ cv.description }}</p>

          <div class="buttons"> 
            <a class="btn" [routerLink]="['/edit-cv', i]" [state]="cv">
              <i class="fa-regular fa-pen-to-square"></i>
            </a>
            <a class="btn" (click)="downloadPDF(cv)">
              <i class="fa-regular fa-file-pdf"></i>
            </a>
            <a class="btn">
              <i class="fa-regular fa-trash-can" (click)="confirmDelete(i)"></i>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #noCVs>
    <p class="text-center text-white">Herhangi bir CV bulunamamıştır.</p>
  </ng-template>
</div>
